body, body * {
	margin: 0;
	padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

svg text {
    font-family: Avenir, Helvetica, Roboto, Ubuntu, Arial, sans-serif;
    font-size: 0.75rem;
}